<h2 align="center">Shared Hosting Packages</h2>

<div id="packages">
<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:#FF0000">Basic/Value</li>
    <li class="grey">$ 9.80 / year</li>
	<li>Renewal price $30.22/year</li>
    <li>20GB Storage</li>
    <li>50 Emails</li>
    <li>3 Domains</li>
    <li>Unlimited Bandwidth</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:#4CAF50">Pro</li>
    <li class="grey">$ 22.22 / year</li>
	<li>Renewal price $120.11/year</li>
    <li>30GB Storage</li>
    <li>100 Emails</li>
    <li>5 Domains</li>
    <li>Unlimited Bandwidth</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:#0000FF">Premium</li>
    <li class="grey">$ 35.66 / year</li>
	<li>Renewal price $130.18/year</li>
    <li>50GB Storage</li>
    <li>150 Emails</li>
    <li>10 Domains</li>
    <li>Unlimited Bandwidth</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>